body{
    background-image: url("/images/NoAuth/Login_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    width: 400px;
    height: 100px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}