<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- TODO: Take title from constants-->
    <title>Quar Online</title>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>
<body>
<div class="outer"><div class="middle"><div class="inner">
<h1><p>Welcome!</p></h1>


<p>Click <a th:href="@{/carController}">here</a> to login to Quar Online.</p>
</div></div></div>
</body>
</html>