<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- TODO: Take title from constants-->
    <title>Quar Online Application Login </title>
    <link rel="stylesheet" type="text/css" href="styles/login.css">
</head>
<body>
<div class="outer"><div class="middle"><div class="inner">
<div th:if="${param.error}">
    <p>Invalid username and password.</p>
</div>
<div th:if="${param.logout}">
    <p>You have been logged out.</p>
</div>
<form th:action="@{/login}" method="post">
    <div class="username"><label><p> Username: <input type="text" name="username"/> </p></label></div>
    <div class="password"><label><p><p class="passwordText"> Password: <input type="password" name="password"/> </p></p></label></div>
    <div class="signIn"><button class="glow-on-hover" type="submit" value="Sign In">SIGN IN</button></div>
</form></div></div></div>
</body>
</html>